body {
  margin: 0 auto;
  width: 1280px;
  font-family: Montserrat, sans-serif;
}
.header-menu {
  padding: 31.5px 0;
  margin: 0 auto;
  width: 620px;
  height: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header-menu-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
}
.header-menu-link:hover {
  color: #7a4b4b;
}
.main-content {
  padding: 50px 67.5px 42px;
  text-align: center;
  color: #373737;
}

.main-content-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
}

.main-content p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
}
.main-content p:nth-of-type(1) {
  margin-top: 38px;
}
.main-content p:nth-of-type(2) {
  margin-top: 28px;
}
.main-content-button {
  display: inline-block;
  margin-top: 66px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  color: #ffffff;
  background-color: #ff0000;
  text-decoration: none;
  padding: 18px 43px;
  border-radius: 4px;
}
.main-content-button:hover {
  background-color: #7a4b4b;
}
footer {
  padding: 40px 105px 29px 0;
  text-align: right;
}
.copyright {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
